.section__padding {
    padding: 4rem 6rem;
}

.app__bg {
    background-size: cover;
}

.p__opensans {
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
}

@media screen and (min-width: 2000px) {
    .p__opensans {
        font-size: 30px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 850px) {
    .section__padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .p__opensans {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .section__padding {
        padding: 4rem 1rem;
    }

    .p__opensans {
        font-size: 12px;
    }
}