@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --font-base: 'Roboto Condensed', sans-serif;

    --color-dark-red: #8c0000;
    --color-black: #000000;
    --color-dark-blue: #011446;
    --color-beige: #dbd6c9;
    --color-light-beige: #e2ded4;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-base);
}

a {
    color: unset;
    text-decoration: none;
}